<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/calculators/static/css/style.css">
    <link rel="stylesheet" href="/calculators/static/css/common.css">
</head>
<body>
    {% include 'components/header.html' %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
            <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
    <main>
        <div class="tab_menu">
            <button class="tablink" onclick="openPage('ipoteka_rassrochka', this)" id='defaultOpen'>Ипотека+рассрочка</button>
            <button class="tablink" onclick="openPage('rassrochka', this)">Рассрочка</button>
            <button class="tablink" onclick="openPage('ipoteka_zero', this)">Ипотека под 0%</button>
            <button class="tablink" onclick="openPage('rassrochka_pv', this)">Рассрочка ПВ</button>
        </div>
        <div class="tab_container">
            <div id="ipoteka_rassrochka" class="tabcontent">
                {% include 'components/ipoteka_rassrochka.html' %}
            </div>
            <div id="rassrochka" class="tabcontent">
                {% include 'components/rassrochka.html' %}
            </div>
            <div id="ipoteka_zero" class="tabcontent">
                {% include 'components/ipoteka_zero.html' %}
            </div>
            <div id="rassrochka_pv" class="tabcontent">
                {% include 'components/rassrochka_pv.html' %}
            </div>
        </div>
    </main>
</body>
<script src="/calculators/static/js/tabs.js"></script>
</html>