<header class="header">
    <div class="header-content">
        <div class="header-logo">
            <img src="/discount-system/static/logo.png" alt="Golden House Logo" class="logo">
        </div>

            {% if request.path != '/' and page != 'calculators' %}
            <a href='/calculators' class="nav-link">
                <button>Калькулятор</button>
            </a>
            {% endif %}
            {% if current_user.role == 'admin' %}
                {% if page != 'admin' %}
                <a href="/calculators/admin" class="nav-link">
                    <button>Админ панель</button>
                </a>
                {%else%}
                    <form action="/calculators/update_database" method="post" style="padding: 0px; box-shadow: 0px 0px 0px 0px">
                        <button type="submit">Update Database</button>
                    </form>
                {% endif %}
            {% endif %}
            <div class="user-info">
                <span>{{ current_user.full_name }}</span>
                <a href="/" class="nav-link">
                    <button>Menu</button>
                </a>
            </div>
    </div>
</header>
