
<div class="container">
    <!-- Use absolute URLs for form actions -->
    <form action="/calculators/process_form" method="POST">
        <label for="apartment_id">ID квартиры:</label>
        <input   type="text" id="apartment_id"
            name="apartment_id" required><br><br>

        <label for="installment_period">Период рассрочки:</label>
        <select id="installment_period"
            name="installment_period">
            {% for period in installment_periods %}
            <option value="{{ period[0] }}">{{ period[0] }}</option>
            {% endfor %}
        </select><br><br>

        <label for="interest_rate">Процент первоначального
            взноса:</label>
        <select   id="interest_rate"
            name="interest_rate">
            {% for rate in interest_rates %}
            <option value="{{ rate[0] }}">{{ rate[0] }}</option>
            {% endfor %}
        </select><br><br>
        <div id="ipoteka_zero_discountFields" style="display: none;">
            <label for="gd_discount">Скидка ГД:</label>
            <input type="text" id="gd_discount"
                name="gd_discount"><br><br>

            <label for="holding_discount">Скидка Холдинга:</label>
            <input type="text" id="holding_discount"
                name="holding_discount"><br><br>

            <label for="opt_discount">Скидка ОПТ:</label>
            <input type="text" id="opt_discount"
                name="opt_discount"><br><br>
        </div>
        <div class="buttons">
            <button type="button"
                onclick="toggleDiscountFields('ipoteka_zero_discountFields')">Скрыть/Показать дополнительные скидки</button>
            <button type="submit">Рассчитать</button>
        </div>
    </form>

    {% if cashback_value %}
    <p>Cashback Value: {{ cashback_value }}</p>
    {% endif %}
</div>
